<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RESERVA</a>
     
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" id="linkCrearRes" href="#" routerLink="./crear" routerLinkActive="active">Crear Reserva</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="linkListarReserva" href="#" routerLink="./listar" routerLinkActive="active">Listar reservas</a>
        </li>
    
      </ul>
    </div>
  </nav>


<router-outlet></router-outlet>